.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 16px;
    margin: 0 auto;
}
img {
    object-fit: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
<<<<<<< HEAD

.section__bottom {
    display: flex;
    justify-content: space-between;
}
=======
>>>>>>> 90d4b9cec64585af66c7b5024e40ba21aeeedc65
