<<<<<<< HEAD
.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 16px;
    margin: 0 auto;
}
img {
    object-fit: contain;
}
ul {
    list-style: none;
  
}
a {
    text-decoration: none;
   
}
<<<<<<< HEAD
.box1 {
    height: 44px;
    width: 1680px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #FFFBED;
    border: 1px solid #F4F0E6;
}
#first {
    position: absolute;
left: 16.19%;
right: 76.25%;
top: 6.25%;
bottom: 81.25%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


/* Primary/Black */

color: #292929;
}
#img1 {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
height: 22px;
width: 22px;
left: 0px;
top: 0px;
border-radius: 0px;

}
#second {
    position: absolute;
left: 27.56%;
right: 65.6%;
top: 6.25%;
bottom: 81.25%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


/* Primary/Black */

color: #292929;
}
#img2 {
    position: absolute;
left: 12.5%;
right: 12.5%;
top: 7.95%;
bottom: 17.04%;
height: 16.500598907470703px;
width: 16.500215530395508px;
left: 2.75px;
top: 1.7496929168701172px;
border-radius: 0px;
}
.box1 ul {
    display:flex;
    text-align: center;
}
.box1 ul :nth-child(1) {
    width: 79px;
    height: 22px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* Primary/Black */
    
    color: #292929;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.box1 ul :nth-child(2){
    width: 100px;
    height: 22px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* Primary/Black */
    
    color: #292929;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.box1 ul :nth-child(3) {
    width: 128px;
    height: 22px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* Primary/Black */
    
    color: #292929;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
#img3 {
    height: 16.5px;
    width: 16.5px;
    left: 2.75px;
    top: 2.75px;
    border-radius: 0px;
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;    
}
.box1 h4 {
    width: 107px;
    height: 22px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    text-align: right;
    
    /* Primary/Black */
    
    color: #292929;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
=======
.box-2{
    display: flex;
    padding: 0px 200px 0px 200px;
    align-items: center;
}
.box-2 .img-1{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.box-2 .img-1 img{
    height: 25px;
}
.box-2 .img-1 h6{
    color: grey;
    margin: 3px;
}
.box-2 .logos img{
    margin: 5px;
}
.box-2 .call .one{
    margin-left: 20px;
>>>>>>> 25366f5647273aed57ab0ee5318a70f51cde24a2
}
=======
body {
    background-color: #FFFBED;
}
.bottom__holder {
    border: 1px solid lightgray;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom__holder, .bottom__list, .bottom__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom__link, .bottom__img {
   margin-right: 10px;
}
.bottom__link {
    color: #000;
}
.bottom__img {
    margin-left: 10px;
}
.bottom__search {
    border-left: 2px solid lightgray;
}

>>>>>>> deadpool
